<template name="feed">
  <div class="row">
    <div class="twelve columns">
      <form class="search-posts-form" data-id="search-posts-form">
        <input type="text" class="u-full-width" placeholder="{{_ 'search-posts'}}" data-id="search-query">
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="twelve columns">
      <div class="text-center">
        <ul class="feed-filter">
          <li><button type="button" class="{{activeIfFilterIs 'all'}}" data-id="all">{{_ "all"}}</button></li>
          <li><button type="button" class="{{activeIfFilterIs 'following'}}" data-id="following">{{_ "following"}}</button></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="twelve columns">
      <form data-id="insert-post-form">
        {{>textareaAutocomplete settings=settings data-id="body" class="u-full-width insert-post-form" rows="1" placeholder=""}}
        <input type="submit" class="button-primary u-pull-right" value="{{_ 'submit'}}">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      {{#each posts}}
        {{> post post=this}}
      {{/each}}
      {{#if Template.subscriptionsReady}}
        {{#unless instance.postsCount.get}}
          <div class="alert info">{{_ "no-matching-posts"}}</div>
        {{/unless}}
        {{#if hasMorePosts}}
          <button class="u-full-width" data-id="load-more">{{_ "load-more"}}</button>
        {{/if}}
      {{else}}
        <div class="text-center">{{_ "loading-posts"}}</div>
      {{/if}}
    </div>
  </div>
</template>
